
{% extends 'base.html' %}
{% load static %}

{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="{% static 'news/styles_news.css' %}">
{% endblock %}

{% block content %}

<h2>Stories in category: {{ category }}</h2>
<br/>
<div id="Category">
    {% if categories %}
        {% for story in categories %}
            {% include "news/storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>

{% endblock %}
